.dashboard {
    display: flex;
    justify-content: center;
    display: grid;
    margin: auto;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 1rem;
    width: 200px;
    height: 200px;
    grid-template-areas: "h h"
                         "s m"
                         "a b";
}

h1 {
    grid-area: h;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.grid-cell {
    border: 1px black solid;
    flex-direction: column;
    padding: 20px;
    width: 200px;
    height: 200px;
}

.name {
    display: flex;
    grid-area: s;
    font-family: Helvetica;
    justify-content: center;
}

.change {
    display: flex;
    grid-area: m;
    justify-content: space-around;
    font-family: Helvetica;
}

.change input {
    align-self: flex-start;
    border: 1px black solid;
    padding: 0.5em;
}
.change2 {
    display: flex;
    grid-area: a;
    font-family: Helvetica;
    justify-content: space-evenly;
    font-size: 13px;
}

.change2 input {
    border: none;
    font-size: 18px;
}

.animate {
    display: flex;
    grid-area: b;
    font-family: Helvetica;
    justify-content: center;
}

#Myelement {
    background-color: white;
    width: 100px;
    height: 100px;
    border: 1px black solid;
    padding: 0.5em;
}